@import 'normalize.css',
        'reset-css/reset.css';

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }

  &::placeholder {
    transition: color .3s ease;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

html {
  font-size: 62.5%;
}

input,
select,
textarea {
  appearance: none;
  border: 0;
  border-radius: 0;

  &:focus {
    outline: 0;
  }
}

a {
  color: inherit;

  &:focus {
    outline: 0;
  }
}

img {
  height: auto;
  max-width: 100%;
}
