.u {
  &-align-start {
    align-items: flex-start;
  }

  &-align-center {
    align-items: center;
  }

  &-align-end {
    align-items: flex-end;
  }

  &-justify-center {
    justify-content: center;
  }

  &-justify-end {
    justify-content: flex-end;
  }

  &-space-between {
    justify-content: space-between;
  }

  &-space-around {
    justify-content: space-around;
  }

  &-text-center {
    text-align: center;
  }
}
