@include media-query(0) {
  .container {
    margin: 0 auto;
    max-width: $container-width;
    padding: 0 $container-padding;
    position: relative;
    width: 100%;
  }
}

@include media-query(md) {
  .container {
    max-width: $container-width;
    padding: 0 calc(#{$container-padding} * 2);
  }
}

@media only screen
and (device-width: 375px)
and (device-height: 812px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {
  .container {
    padding: 0 constant(safe-area-inset-right) 0 constant(safe-area-inset-left);
  }
}
